// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: rgb(13, 110, 253);
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$black: #000000;
$gray: #a89696;
$light-gray: #F4F4F4;
$white: #FFFFFF;
