.bio-container {
  max-height: 100%;
  max-width: 80%;
  margin-left: 50px;
  // margin-bottom: 10px;
  padding: 1em;

  .margin-bottom-pc {
    margin-bottom: 20px;

  }

  .margin-bottom-ph {
    @media (min-width: 760px) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 760px) {
    max-height: 100%;
    max-width: 100%;
    margin: 0 ;

  }

  .image-container {
    float: right;
    margin: 0  0  0 1em; /* Margin to separate text from the image */
    max-width: 350px; /* Ensure the image isn't too large */
    opacity: 0.8;

    @media (max-width: 760px) {
      float: right;
      margin: 0 0 1em 1em; /* Margin to separate text from the image */
      max-width: 200px; /* Ensure the image isn't too large *//* Optional styling for a modern look */
    }

    .bio-image {
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2),
                0 6px 20px rgba(255, 255, 255, 0.15);
      width: 100%;
      height: auto;
    }

    .rights {
      margin-top: 5px;
      font-size: 10px; /* Smaller font size for rights text */
      color: #777; /* Subtle gray color */
      font-style: italic; /* Optional, makes it look more formal */
    }
  }


  blockquote {
    font-style: italic;
    // border-left: 4px solid #ccc;
    padding: 0em 0 0 1em;
    margin: 2em 0;
    width: 70%;
    float: right;
    text-align: right;

    @media (max-width: 760px) {
      width: 100%;
    }

  }

  blockquote footer {
    font-size: 0.9em;
    text-align: right;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 10px;

    @media (max-width: 760px) {
      padding-bottom: 50px;

    }
  }

  p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.75);
  }
}

.img-bio {
  width: 500px;
  position: absolute;
  bottom: -475px;
  left: -200px;
  opacity: 0.3;
  overflow: hidden;

  @media (max-width: 760px) {
    width: 300px;
    position: fixed;

    bottom: -350px;
    left: -100px;
  }
}
