.container-contact {
  position: relative;
  width: 100vw;
  height: 100vh;

  h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    margin-top: 50px;

    // @media (max-width: 760px) {
    //   padding-top: 20px;
    // }
  }

  .contact-content {
    background-image: url('logo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);

    @media (max-width: 760px) {
      transform: translate(-70%, -50%);
    }

    h4 {
      color: #ffffff;
      // margin-bottom: 20px;
    }

    a {
      text-decoration: none;
      transition: all 0.3s ease;
      margin-bottom: 30px;
      color: #ff0000;
      &:hover {
        color: white;
      }
    }

    .img-container-contact {
      visibility: hidden;

      img {
        width:250px;

        @media (max-width: 760px) {
          width: 175px;
        }
      }
    }

    .contacts-container-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 200px;

      @media (max-width: 760px) {
        padding-left: 180px;
      }
    }
  }
}
