// #and_if_this_is_it, #fragments_of_time, #love_hurts, #dusk, #only_fools_rush_in {
//   //
// }

.sidenav-if-this-is-it-page, .sidenav-dusk-page, .sidenav-fragments-of-time-page, .sidenav-love-hurts-page, .sidenav-rush-for-full-page, .sidenav-only-fools-rush-in-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  font-family: "Futura", "Helvetica", "sans-serif";
  color: $black;
  padding-bottom: 60px;
  padding-top: 60px;

  .img-works {
    position: absolute;
    top: 580px;
    right: 100px;
  }

  header {
    text-align: center;
    font-size: 1.6rem;
    color: $light-gray;
  }

  .text {
    padding: 0px 8px 8px 8px;
    text-align: justify;

    h1 {
      padding-top: 10px;
      font-size: 5rem;
      color: $light-gray;
    }

    h3 {
      padding-top: 10px;
      font-size: 4rem;
      color: $light-gray;
    }

    h4 {
      font-size: 1.1rem;
      color: $light-gray;
    }

    p {
      font-size: 0.8rem;
      color: $light-gray;
      margin-bottom: 5px
    }
  }

  .text-sec {
    padding: 2px 8px 8px 8px;
    text-align: justify;
    h4 {
      font-size: 1.1rem;
      color: $light-gray;
    }
    p {
      font-size: 0.8rem;
      color: $light-gray;
      margin-bottom: 5px;
    }


    .photo {
      margin-top: 10px;
      width: 45%;
      height: fit-content;
      text-align: center;
      // margin: auto;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-singular {
      width: 100%;
      height: fit-content;
      margin: auto;
      margin-top: 10px;
      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-singular-big {
      width: 45%;
      height: fit-content;
      margin: auto;
      margin-top: 10px;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .image-flex-off-canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 760px) {
      display: block; // to be seen later
      width: 100%;
      margin: auto;

    }
  }

  a {
    // padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;


    &:hover {
    color: blue;
    // border-bottom: 1.5px solid $red;
    }
  }

}

#v-b-itii iframe{
  width: 2000px;
  height: 1600px;
  z-index:-1;
  bottom:-30%;
  right:0%;
  transform:translate(-50%, 5%)
}

#v-b-lh iframe{
  width: 2000px;
  height: 1600px;
  z-index: -1;
  top: -55%;
  right: 0%;
  transform: translate(-50%, 5%);
}

#v-b-fot iframe{
  width: 2000px;
  height: 1400px;
  z-index: -1;
  top: -50%;
  right: 0%;
  transform: translate(-50%, 15%);
}

#v-b-lgdd iframe {
  width: 2000px;
  height: 1600px;
  z-index: -1;
  top: -45%;
  right: 0%;
  transform:translate(-50%, 5%);
}

#v-b-d iframe {
  width: 2000px;
  height: 1600px;
  z-index: -1;
  top: -45%;
  right: 0%;
  transform:translate(-50%, 5%);
}

#v-b-ofri iframe {
  width: 2000px;
  height: 1600px;
  z-index:-1;
  top:-45%;
  right:0%;
  transform:translate(-50%, 5%);
}
