// #and_if_this_is_it, #fragments_of_time, #love_hurts, #dusk, #only_fools_rush_in {
//   //
// }

.sidenav-if-this-is-it-page, .sidenav-dusk-page, .sidenav-fragments-of-time-page, .sidenav-love-hurts-page, .sidenav-celestial-fractures-page, .sidenav-only-fools-rush-in-page, .sidenav-le-gout-de-dieu-page, .sidenav-veil-of-perspective-page {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  font-family: "Futura", "Helvetica", "sans-serif";
  color: $black;
  padding-bottom: 60px;
  padding-top: 60px;

  .img-works {
    position: absolute;
    top: 560px;
    right: 100px;
    opacity: 0.75;

    @media (max-width: 760px) {
        top: 260px;
        right: -50px;
        opacity: 0.5;
    }
  }

  header {
    text-align: center;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.75);
  }

  .text {
    padding: 0px 8px 8px 8px;
    text-align: justify;

    h1 {
      padding-top: 10px;
      font-size: 5rem;
      color: rgba(255, 255, 255, 0.75);
    }

    h3 {
      padding-top: 10px;
      font-size: 3.7rem;
      color: rgba(255, 255, 255, 0.75);
    }

    h4 {
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.75);
    }

    p {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 5px;
      width: 90%;
      margin-left: 0;
    }
  }

  .text-sec {
    padding: 2px 8px 8px 8px;
    text-align: justify;

    h4 {
      font-size: 1.1rem;
      color: rgba(255, 255, 255, 0.75);
    }
    p {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.75);
      margin-bottom: 5px;
    }


    .photo {
      margin-top: 10px;
      width: 45%;
      height: fit-content;
      text-align: center;
      // margin: auto;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-singular {
      width: 100%;
      height: fit-content;
      margin: auto;
      margin-top: 10px;
      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-singular-big {
      width: 45%;
      height: fit-content;
      margin: auto;
      margin-top: 10px;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .image-flex-off-canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    @media (max-width: 760px) {
      display: block; // to be seen later
      width: 100%;
      margin: auto;
    }
  }

  a {
    // padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;


    &:hover {
    color: blue;
    // border-bottom: 1.5px solid $red;
    }
  }

}

// background images for the swipers
#and-if-this-is-it-pc {
  background-image: url('O2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#and-if-this-is-it-ph {
  background-image: url('O2.png');
  background-repeat: no-repeat;
  background-position: 40% center ;
  background-size: cover;
}

#fragments-of-time-pc {
  background-image: url('fot3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#fragments-of-time-ph {
  background-image: url('fot3.jpg');
  background-repeat: no-repeat;
  background-position: 40% center ;
  background-size: cover;
}

#love-hurts-pc {
  background-image: url('LH2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#love-hurts-ph {
  background-image: url('LH1.jpg');
  background-repeat: no-repeat;
  background-position: 40% center ;
  background-size: cover;
}

#veil-of-perspective-pc {
  background-image: url('vop6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#veil-of-perspective-ph {
  background-image: url('vop.jpg');
  background-repeat: no-repeat;
  background-position: 40% center ;
  background-size: cover;
}

#celestial-fractures-pc {
  background-image: url('cf2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#celestial-fractures-ph {
  background-image: url('cf1.jpg');
  background-repeat: no-repeat;
  background-position: 40% center ;
  background-size: cover;
}

#le-gout-de-dieu-pc {
  background-image: url('LG3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#le-gout-de-dieu-ph {
  background-image: url('LG3.png');
  background-repeat: no-repeat;
  background-position: 40% center ;
  background-size: cover;
}


#v-b-itii iframe{
  width: 2000px;
  height: 1600px;
  z-index:-1;
  bottom:-30%;
  right:0%;
  transform:translate(-50%, 5%);
}

#v-b-lh iframe{
  width: 2000px;
  height: 1600px;
  z-index:-1;
  bottom:-30%;
  right:0%;
  transform:translate(-50%, 5%)
}

#v-b-fot iframe{
  width: 2000px;
  height: 1600px;
  z-index:-1;
  bottom:-30%;
  right:0%;
  transform:translate(-50%, 5%)
}

#v-b-lgdd iframe {
  width: 2000px;
  height: 1600px;
  z-index: -1;
  top: -45%;
  right: 0%;
  transform:translate(-50%, 5%);
}

#v-b-d iframe {
  width: 2000px;
  height: 1600px;
  z-index: -1;
  top: -45%;
  right: 0%;
  transform:translate(-50%, 5%);
}

#v-b-ofri iframe {
  width: 2000px;
  height: 1600px;
  z-index:-1;
  top:-45%;
  right:0%;
  transform:translate(-50%, 5%);
}

#v-b-ag iframe {
  width: 2000px;
  height: 1600px;
  z-index:-1;
  top:-45%;
  right:0%;
  transform:translate(-50%, 5%);
}

#v-b-cf iframe {
  width: 2000px;
  height: 1600px;
  z-index:-1;
  bottom:-30%;
  right:0%;
  transform:translate(-50%, 5%)
}

#v-b-vop iframe {
  width: 2000px;
  height: 1600px;
  z-index:-1;
  bottom:-30%;
  right:0%;
  transform:translate(-50%, 5%)
}
