.bio-container {
  max-height: fit-content;
  max-width: 80%;
  margin-left: 50px;
  // margin-bottom: 10px;
  padding: 1em;

  @media (max-width: 760px) {
    max-height: 100%;
    max-width: 100%;
    margin: 0 ;

  }

  .bio-image {
      float: right;
      margin: 0  0  0 1em; /* Margin to separate text from the image */
      max-width: 350px; /* Ensure the image isn't too large */
      opacity: 0.8;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2),
                0 6px 20px rgba(255, 255, 255, 0.15);
    @media (max-width: 760px) {
      float: right;
      margin: 0 0 1em 1em; /* Margin to separate text from the image */
      max-width: 200px; /* Ensure the image isn't too large *//* Optional styling for a modern look */
    }
  }

  blockquote {
    font-style: italic;
    border-left: 4px solid #ccc;
    padding: 0em 0 0 1em;
    margin: 2em 0;
    width: 70%;
    float: right;
    text-align: right;

    @media (max-width: 760px) {
      width: 100%;
    }

  }

  blockquote footer {
    font-size: 0.9em;
    text-align: right;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 10px;
  }

  p {
    font-size: 1rem;
    color: $light-gray;
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 5rem;
    color: $light-gray;
  }
}

.img-bio {
  width: 500px;
  position: absolute;
  bottom: -475px;
  left: -200px;
  opacity: 0.3;
  overflow: hidden;

  @media (max-width: 760px) {
    width: 300px;
    position: fixed;

    bottom: -350px;
    left: -100px;
  }
}
