<div id="and_if_this_is_it" class="sidenav-if-this-is-it-page">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div class="img-works">
    <%= image_tag 'logoBlack.png', width: "100px" %>
  </div>
  <%# <header>"IF THIS IS IT"</header> %>
  <div class="container text">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/837475813?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="AND IF THIS IS IT"></iframe>
    </div>
    <h1>AND IF <br>THIS IS IT</h1>
  </div>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      In a dance piece inspired by childhood friendships, dancers could portray the journey of connection and growth through fluid movements and playful interactions. The choreography would explore the innocence, joy, and challenges of forming bonds, highlighting the universal themes of empathy and human connection in a concise and evocative manner.
    </p>
  </div>
  <%# Iframe video %>
  <div class="container text">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Jonsi & Alex Somers
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      Eve-Marie Dalcourt & Toon Lobach
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      April 25th 2023 ROBERTO BOLLE & FRIENDS FESTIVAL
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      9 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <div class="photo">
      <img src="/assets/O5-e32b49ef2b8eb9d6d6f553e8aff420ec90e79f5ff233bf7fb86995c19db41d9a.png" alt="Orsolina 5">
    </div>
    <div class="photo">
      <img src="/assets/O2-124a60f59e373290c65131deb0c6cacc37169f7788b20d228fa4697ce834ac0d.png" alt="Orsolina 2">
    </div>
    <div class="photo">
      <img src="/assets/O3-56b7783a2fc062a374ea6aae35b7cc2c329368b3675eb8fb8d0ce7e2a256b874.png" alt="Orsolina 3">
    </div>
    <div class="photo">
      <img src="/assets/O1-2c9da82adedc175dc9ccc6177a36fed611eaf89dde152a3c1d9a765627f2a794.png" alt="Orsolina 1">
    </div>
    <div class="photo">
      <img src="/assets/O4-5f0e989c00b15bd1722e280ac6965314eb5ba9a18bbf48b752800e92a7a86adf.png" alt="Orsolina 4">
    </div>
  </div>
</div>
