<div id="dusk" class="sidenav-dusk-page page">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div class="img-works">
    <%= image_tag 'logoWhite.png', width: "100px" %>
  </div>
  <div class="container text">
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/378838933?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="DUSK"></iframe>
    </div>
    <h1>DUSK</h1>
  </div>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      "On the theme of dusk, the transition from day to night serves as a metaphor for change, reflection, and the passage of time. Through dance, music, and visuals, the piece explores the liminal space between light and darkness, inviting contemplation on the transient nature of existence and the beauty found in moments of transition.”
    </p>
  </div>
  <div class="container text">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Music 1st part  Janiv Oron and Michael Anklin<br>
      Music 2nd part   Hilary Hahn “violin partita no 2 in D minor, BWV 1004 IV Gigue<br>
      Johann Sebastian BACH”
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      Zoe Lenzi Allaria
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      *
    </p>
  </div>
  <div class="container text-sec">
    <h4>COSTUME DESIGN</h4>
    <p>
      1st part Julian Nicosia<br>
      2nd part Marine Serre x NIKE
    </p>
  </div>
  <div class="container text-sec">
    <h4>LIGHT DESIGN</h4>
    <p>
      Jonathan Jotter
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      8 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <img src="/assets/D4-c21dbb79f3cb3190fc3e78e4f6d5674ddefa07cc01db9a4914051aa11c81584f.JPG" alt="Fragments of Time 4">
      </div>
      <div class="photo">
        <img src="/assets/D2-fdac64362c48b359f273be3093594007834ccf8ce120141a8dc8516253996b73.JPG" alt="Fragments of Time 2">
      </div>
    </div>
    <div class="image-flex-off-canvas">
      <div class="photo">
        <img src="/assets/D5-b1b9185d4fcb2f06e2845e220209e2341e9040b14415b5794f07e0b787155cf0.JPG" alt="Fragments of Time 5">
      </div>
      <div class="photo">
        <img src="/assets/D6-8d7de5d0eaea8461d20e106ebb2b06dd7e75b2d8665fcb3bd3f9557f78be512b.JPG" alt="Fragments of Time 5">
      </div>
    </div>
    <div class="image-flex-off-canvas">
      <div class="photo-singular-big">
        <img src="/assets/D3-479accc72408a5266ae5f5ec70fb7088867f0220cfbeb0706827d90a55ae68a8.JPG" alt="Fragments of Time 3">
      </div>
    </div>
  </div>
</div>
