
<div class="sidenav-fragments-of-time-page" id="fragments_of_time">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <div class="img-works">
    <%= image_tag 'logoBlack.png', width: "100px" %>
  </div>
  <div class="container text">
    <h1>FRAGMENTS<br>OF TIME</h1>
    <div style="padding:56.25% 0 0 0;position:relative;">
      <iframe src="https://player.vimeo.com/video/945962977?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="&quot;FRAGMENTS OF TIME&quot; TRAILER"></iframe>
    </div>
  </div>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      "In this introspective creation, we delve into the intricate interplay of memories and moments yet to be formed. It explores the profound connection between the past, present, and future, illustrating how they coexist within a single moment. Memories often find their way back into our consciousness, triggered by present experiences, sometimes making sense instantly and at other times revealing their significance years later. Is the resurgence of a memory always driven by a purpose, or is it sometimes the result of pure chance? Regardless of their origin, these 'moments' are interdependent, shaping our future. Additionally, the piece celebrates the boundless energy, enthusiasm, and determination inherent in youth, capturing the essence of a time filled with limitless possibilities.”
    </p>
  </div>
  <%# Iframe video %>
  <div class="container text">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Michael Anklin & Janiv Oron
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      Finnish National Ballet Youth Company
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      11 April 2024
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      35 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
      <div class="photo">
        <img src="/assets/fot1-e6c1545aba365d16dcc327632533dce9a7f7c2780980359290aab1866ecbde21.jpg" alt="Fragments of Time 1">
      </div>
      <div class="photo">
        <img src="/assets/fot2-8a98519cb37b5eed59207fc8b4161ad9b9968cde89da3f0f38892545e64f4b17.jpg" alt="Fragments of Time 2">
      </div>
      <div class="photo">
        <img src="/assets/fot3-3dcea94d17b0e6beb1ac02c44e5b3bce54230838bb62f75e5af78d24b1773709.jpg" alt="Fragments of Time 3">
      </div>
      <div class="photo">
        <img src="/assets/fot4-2c8a7222517182300a27f5c0d645b150aa67cfb0b36797d2705374e1ff1ae4e2.jpg" alt="Fragments of Time 4">
      </div>
      <div class="photo">
        <img src="/assets/fot5-5fb776e96de4eeffbc17447a590789ba2c9761ab0b78a8db95b5cb083c43ba50.jpg" alt="Fragments of Time 5">
      </div>
    <%# </div> %>

    <%# <div id="lightbox-modal" class="modal">
      <span class="close" onclick="closeModal()">&times;</span>
      <div class="modal-content">
          <img id="modal-img" src="" alt="Expanded image">
          <button class="prev" onclick="changeImage(-1)">&#10094;</button>
          <button class="next" onclick="changeImage(1)">&#10095;</button>
      </div>
    </div> %>
  </div>
</div>
