<a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
  <div class="line top"></div>
  <div class="line middle"></div>
  <div class="line bottom"></div>
</a>
<div data-controller="get-back">
  <div class="index_works backElement">
    <h1>WORKS</h1>
    <div class="grid">
      <div class="grid-item" style="background-image: url('assets/cf2-30154d874acb9f57a0b2451449471f17f58e945236dd3ac25a19d81426018398.jpg');"><a href="/celestial_fractures"><div class="box-p"><p style="text-shadow:0.5px 0.5px 1px black">CELESTIAL FRACTURES</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/vop6-635ad0d834c75f723f32362b0830b88290bed3208d555c329605a7eca97af45b.jpg');"><a href="veil_of_perspective"><div class="box-p"><p>VEIL OF PERSPECTIVE</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/O2-124a60f59e373290c65131deb0c6cacc37169f7788b20d228fa4697ce834ac0d.png');"><a href="/and_if_this_is_it"><div class="box-p"><p style="text-shadow:0.5px 0.5px 1px black">AND IF THIS IS IT</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/fot3-3dcea94d17b0e6beb1ac02c44e5b3bce54230838bb62f75e5af78d24b1773709.jpg');"><a href="/fragments_of_time"><div class="box-p"><p style=" text-shadow:0.5px 0.5px 1px black">FRAGMENTS OF TIME</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/LH2-a1c47da4f8812d04ab46cfd6825a68df40e3f0a4e14cf99cee5532074f2e3ada.jpg');"><a href="/love_hurts"><div class="box-p"><p style=" text-shadow:0.5px 0.5px 1px black">LOVE HURTS</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/OF2-9d3326717715efa77ce39ab74917532bb24ca504cb12553e02bfccd86bc6beeb.jpg');"><a href="/only_fools_rush_in"><div class="box-p"><p style="text-shadow:0.5px 0.5px 1px black">ONLY FOOLS RUSH IN</p></div></a></div>
      <div class="grid-item-left" style="background-image: url('/assets/RF1-db1924744ba9783ae6ab888bf148bf5c14849164985759e1f3f7626237eaf8e5.JPG');"><a href="/rush_for_full"><div class="box-p"><p style="text-shadow:0.5px 0.5px 1px white">RUSH FOR FULL</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/LG1-1d6804930f982d0562c25f6906512b4a0c01dab93aaa757894af483babee87e8.png');"><a href="le_gout_de_dieu"><div class="box-p"><p>LE GOUT DE DIEU</p></div></a></div>
      <div class="grid-item" style="background-image: url('/assets/D6-8d7de5d0eaea8461d20e106ebb2b06dd7e75b2d8665fcb3bd3f9557f78be512b.JPG');"><a href="/dusk"><div class="box-p"><p style="text-shadow:0.5px 0.5px 1px black">DUSK</p></div></a></div>
      <div class="grid-item-contain" style="background-image: url('assets/logoWhite-941c41202184a68cca7dc87eb9ec20be26f774ed99022d1182a1edac03dce524.png');"><a href="/home"><div class="box-p"><p style="text-shadow:0.5px 0.5px 1px black"></p></div></a></div>
    </div>
  </div>
</div>
