<a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
  <div class="line top"></div>
  <div class="line middle"></div>
  <div class="line bottom"></div>
</a>

<div class="index_works">
  <div class="grid">
    <div class="grid-item" style="background-image: url('/assets/D5-b1b9185d4fcb2f06e2845e220209e2341e9040b14415b5794f07e0b787155cf0.JPG');"><a href="/dusk"></a></div>
    <div class="grid-item" style="background-image: url('/assets/fot3-3dcea94d17b0e6beb1ac02c44e5b3bce54230838bb62f75e5af78d24b1773709.jpg');"><a href="/fragments_of_time"></a></div>
    <div class="grid-item" style="background-image: url('/assets/LH2-a1c47da4f8812d04ab46cfd6825a68df40e3f0a4e14cf99cee5532074f2e3ada.jpg');"><a href="/love_hurts"></a></div>
    <div class="grid-item" style="background-image: url('/assets/O2-124a60f59e373290c65131deb0c6cacc37169f7788b20d228fa4697ce834ac0d.png');"><a href="and_if_this_is_it"></a></div>
    <div class="grid-item" style="background-image: url('/assets/OF2-9d3326717715efa77ce39ab74917532bb24ca504cb12553e02bfccd86bc6beeb.jpg');"><a href=""></a></div>
    <div class="grid-item" style="background-image: url('/assets/RF4-bb56645201f684adae91297c49e3631fa764e39a9dabf7c62f21f590944fddb2.jpeg');"><a href=""></a></div>
    <div class="grid-item" style="background-image: url('/assets/LG1-1d6804930f982d0562c25f6906512b4a0c01dab93aaa757894af483babee87e8.png');"><a href="le_gout_de_dieu"></a></div>
  </div>
</div>
