<a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
  <div class="line top"></div>
  <div class="line middle"></div>
  <div class="line bottom"></div>
</a>
<div class="d-flex justify-content-center align-items-center" style="width:100%; height:100%">
  <div class="bio-container">
      <h1>Julian Nicosia</h1>
      <img src="/assets/julianNicosia-1e46a97908e385ed186b4abc0b3789e4c30efc76ebf0c97c8816aff2cde6a6aa.JPG" alt="Portrait of Julian Nicosia" class="bio-image">
      <section>
        <p>Julian Nicosia was born in Saint-Étienne, France, in 1989, and grew up immersed in the world of dance.</p>
        <p>Julian began his journey as an acrobatic rock dancer, a discipline he pursued for almost ten years, competing at the highest international levels until the age of 17. A few months later he joined the Conservatoire National Supérieur de Musique et de Danse de Lyon. In 2010, Julian made his debut with the Lyon Opera Ballet, where he had the privilege of performing works by renowned choreographers such as William Forsythe, Jiří Kylián, Mats Ek, Trisha Brown, Ohad Naharin, Anne Teresa De Keersmaeker, Maguy Marin, Catherine Diverrès, Jérôme Bel, Christian Rizzo, among others.</p>
      </section>

      <section>
        <p>In 2015, Julian took a pivotal step in his career by joining the Dresden Frankfurt Dance Company under the direction of acclaimed choreographer Jacopo Godani. Within two years, he was appointed Ballet Master.</p>
        <p>In 2019, Julian started his own choreographic career, creating works for some of the most prestigious institutions in the dance world such as Opéra National de Paris YC, Finnish National Ballet, SemperOper Dresden, Ballett Dortmund, Tiroler Landestheatre, St Gallen Dance Company. His creative process is innovative, adapting to the unique qualities of the dancers and companies he collaborates with, ensuring that each individual involved in his creations reaches their full potential.</p>
      </section>

      <section>
        <p>Julian’s emerging choreographic style is expanding and becoming increasingly eclectic, marking him as a distinctive voice in the dance world.</p>
      </section>

      <blockquote>
      <p>"Right away it was clear that he was developing a clear and singular choreographic style and vision, extremely contemporary while using and playing with a balletic vocabulary."</p>
      <footer>- Cédric Andrieux, Director of the Ballet de L'Opéra de Lyon</footer>
    </blockquote>
  </div>
</div>
