<a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
  <div class="line top"></div>
  <div class="line middle"></div>
  <div class="line bottom"></div>
</a>
<div class="d-flex flex-column justify-content-center align-items-center mt-5" style="color:white">
  <h3>2020</h3>

  <h4>« DUSK »</h4>
  <p>NEW CREATION SHORT FILM</p>

  <h4>« LESLI »</h4>
  <p>NEW CREATION  SHORT FILM</p>
  <p>BEYELER FOUNDATION BASEL</p>

  <h4>« RUSH FOR FULL »</h4>
  <p>NEW CREATION FOR MARIA KOCHETKOVA (Principal Dancer & International Guest Artist) & SEBASTIAN KLOBORG (International Guest Artist)</p>

  <h3>2021</h3>

  <h4>« UNSPOKENT THOUGHTS »</h4>
  <p>NEW CREATION FOR THE CONSERVATOIRE SUPERIEUR MUSIQUE ET DANSE DE PARIS</p>

  « UNSPOKENT THOUGHTS »
  WORLD PREMIERE MAY 5TH 2021

  EXCLUSIVE PROGRAMM BALLET
  SUMMER WORKSHOPS
  https://exclusive-balletprogram.com/

  <h4>« FAMILIA RES »</h4>
  <p>NEW CREATION FOR THE DESOBLIQUE COMPANY</p>

  <h4>« RUSH FOR FULL »</h4>
  <p>ENGLISH NATIONAL BALLET</p>
  <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>

  <h4>« ONE FLAT THING REPRODUCED » BY WILLIAM FORSYTHE</h4>
  <p>BALLET DE L’OPERA DE LYON</p>
  <p>(Julian Nicosia was invited to dance for a Forysthe evening with the Ballet de l’Opéra de Lyon)</p>

  <p>« HOLD ON SKIN »</p>
  <p>NEW CREATION FOR THE CONSERVATOIRE SUPERIEUR MUSIQUE ET DANSE DE LYON</p>

  <h4>« RUSH FOR FULL »</h4>
  <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
  <p>WORLD PREMIERE AT LES HIVERNALES DE LA DANSE, LIEGE</p>
  <p>DECEMBER 4TH 2021</p>
  https://www.leshivernales.be/

  <h3>2022</h3>

  <h4>OPERA NATIONAL DE PARIS</h4>
  <p>NEW CREATION FOR INES MCINTOSH (Première Danseuse) & JACK GASZTOWTT (Premier Danseur)</p>

  <h4>FINNISH NATIONAL BALLET</h4>
  <p>NEW CREATION FOR VIOLETTA KELLER (Principal Dancer) & MARTIN NUDO (First Soloist)</p>

  <h4>« ONLY FOOLS RUSH IN »</h4>
  <p>NEW CREATION FOR TCUNAM COMPANY MEXCIO CITY</p>
  <p>WORLD PREMIERE  AUGUST 24TH 2022</p>

  <h4>« RUSH FOR FULL »</h4>
  <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
  <p>INTERNATIONAL BALLETT GALA  THEATER DORTMUND</p>
  https://www.theaterdo.de/produktionen/detail/internationale-ballettgala-xxxvii/

  <h4>WORSKSHOPS</h4>
  <p>EUROPA DANCE COMPANY BRUSSELS</p>

  <p>COMPANIA NACIONAL DE DANZA</p>
  <p>NEW CREATION FOR GIADA ROSSI (Principal Dancer) & ALESSANDRO RIGA ( Principal dancer)</p>

  <h4>« LOVE HURTS »</h4>
  <p>NEW CREATION FOR THE TANZKOMPANIE THEATER ST GALLEN (Direction. Kinsun Chan)</p>

  <h4>« AND IF THIS IS IT »</h4>
  <p>NEW CREATION FOR EVE-MARIE DALCOURT & TOON LOBACH (NDT Soloist)</p>

  <h3>2023</h3>

  <h4>« AND IF THIS IS IT »</h4>
  <p>WORLD PREMIERE AT ROBERTO BOLLE & FRIENDS</p>
  <p>FEBRUARY 11TH 2023</p>
  https://robertobolle.com/rb-and-friends/
  https://www.juliannicosia.com/home

  <h4>« LOVE HURTS »</h4>
  <p>WORLD PREMIERE AT THEATER ST GALLEN</p>
  <p>MARCH 16TH 2023</p>

  <h4>« HOLD ON SKIN »</h4>
  <p>NEW CREATION FOR EUGENIA BREZZI (Soloist) & GIACOMO CASTELLAN (Soloist)</p>
  <p>TEATRO DELL’OPERA DI ROMA (Dir. Eleonora Abbagnato)</p>

  <h4>« AND IF THIS IS IT »</h4>
  <p>ORSOLINA 28 FILM RECORDING</p>

  <h4>« HOLD ON SKIN »</h4>
  <p>WORLD PREMIERE AT DAP FESTIVAL ITALY</p>
  <p>JULY 8TH 2023</p>
  https://www.dapfestival.com/

  <h4>SUMMER WORKSHOP</4>
  <p>AXIS DANZA ITALY</p>
  https://www.axisdanza.it/

  <h4>« LE GOUT DE DIEU »</h4>
  <p>NEW SOLO CREATION FOR JACOPO GIARDA (Soloist)</p>
  <p>FILM AND RECORDING AT VITRA MUSEUM</p>

  <h4>« FRAGMENTS OF TIME »</h4>
  <p>NEW CREATION FOR THE FINNISH NATIONAL BALLET YOUTH COMPANY (Dir. Javier Torres)</p>

  <h3>2024</h3>

  <h4>« FRAGMENTS OF TIME »</h4>
  <p>FINNISH NATIONAL BALLET YOUTH COMPANY (Dir. Javier Torres)</p>
  <p>WORLD PREMIERE APRIL 11TH 2024</p>

  <h4>« RUSH FOR FULL »</h4>
  <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
  <p>BALLET STARS UNLEASHED GALA</p>

  <h4>« FLASHES COME AROUND »</h4>
  <p>NEW CREATION FOR EUROPA DANCE COMPANY BRUSSELS (Dir. Laurent Drousie)</p>

  <h4>« FLASHES COME AROUND »</h4>
  <p>EUROPA DANCE COMPANY BRUSSELS (Dir. Laurent Drousie)</p>
  <p>WORLD PREMIERE JUNE 15TH 2024</p>

  <h4>SUMMER WORKSHOP</h4>
  <p>ARLES YOUTH BALLET COMPANY (Dir. Norton Fantinel & Karina  Moreira)</p>
  https://www.arlesyouthballetcompany.com/

  <h4>« VEIL OF PERSPECTIVE »</h4>
  <p>NEW CREATION FOR THE ARLES YOUTHE BALLET COMPANY Dir. Norton Fantinel & Karina  Moreira)</p>
  https://www.arlesyouthballetcompany.com/

  <p>NEW CREATION FOR MARIA GONZALES (International Guest Artist) & OSIEL GOUNEO (Principal Dancer & International Guest Artist)</p>

  <h4>« CELESTIAL FRACTURES »</h4>
  <p>NEW CREATION FOR INNSBRUCK TIROLER LANDESTHEATER (Dir. Stefan Spati & Marcel Leemann)</p>

  <h3>2025</h3>

  <h4>« FRAGMENTS OF TIME »</h4>
  <p>FINNISH NATIONAL BALLET YOUTH COMPANY</p>

  <h4>« CELESTIAL FRACTURES »</h4>
  <p>INNSBRUCK TIROLER LANDESTHEATER (Dir. Stefan Spati & Marcel Leemann)</p>
  <p>WORLD PREMIERE MARCH 1ST 2025</p>

  <h4>WORKHOPS PART 1</h4>
  <p>JUNIOR BALLET DE L’OPERA NATIONAL DE PARIS ( Dir. José Martinez)</p>

  <h4>NEW CREATION FOR THE SEMPEROPER DRESDEN ( Dir. Kinsun Chan)</h4>
  <p>WORLD PREMIERE APRILS 1ST 2025</p>

  <h4>WORKHOPS PART 2</h4>
  <p>JUNIOR BALLET DE L’OPERA NATIONAL DE PARIS ( Dir. José Martinez)</p>

  <h4> NEW CREATION FOR BALLETT DORTMUND (Dir. Xin Peng Wang)</h4>
</div>
