<a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
  <div class="line top"></div>
  <div class="line middle"></div>
  <div class="line bottom"></div>
</a>


<div class="calendar-container" data-controller="tabs-calendar" data-tabs-calendar-default-value="2024">
  <%= image_tag 'logoWhite.png'%>
  <h1>SEASON</h1>
  <ul>
    <%# <li data-tabs-calendar-target="link" data-action="click->tabs-calendar#open" data-id="20-21">20/21</li>
    <div class="calendar-content hidden" data-tabs-calendar-target="tab" data-tabs-type-value="20-21" data-id="20-21">
      <h4>« DUSK »</h4>
      <p>NEW CREATION SHORT FILM</p>

      <h4>« LESLI »</h4>
      <p>NEW CREATION  SHORT FILM</p>
      <p>BEYELER FOUNDATION BASEL</p>

      <h4>« RUSH FOR FULL »</h4>
      <p>NEW CREATION FOR MARIA KOCHETKOVA (Principal Dancer & International Guest Artist) & SEBASTIAN KLOBORG (International Guest Artist)</p>
      <h4>« UNSPOKENT THOUGHTS »</h4>
      <p>NEW CREATION FOR THE CONSERVATOIRE SUPERIEUR MUSIQUE ET DANSE DE PARIS</p>

      « UNSPOKENT THOUGHTS »
      WORLD PREMIERE MAY 5TH 2021

      EXCLUSIVE PROGRAMM BALLET
      SUMMER WORKSHOPS
      https://exclusive-balletprogram.com/

      <h4>« FAMILIA RES »</h4>
      <p>NEW CREATION FOR THE DESOBLIQUE COMPANY</p>

      <h4>« RUSH FOR FULL »</h4>
      <p>ENGLISH NATIONAL BALLET</p>
      <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>

      <h4>« ONE FLAT THING REPRODUCED » BY WILLIAM FORSYTHE</h4>
      <p>BALLET DE L’OPERA DE LYON</p>
      <p>(Julian Nicosia was invited to dance for a Forysthe evening with the Ballet de l’Opéra de Lyon)</p>

      <p>« HOLD ON SKIN »</p>
      <p>NEW CREATION FOR THE CONSERVATOIRE SUPERIEUR MUSIQUE ET DANSE DE LYON</p>

      <h4>« RUSH FOR FULL »</h4>
      <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
      <p>WORLD PREMIERE AT LES HIVERNALES DE LA DANSE, LIEGE</p>
      <p>DECEMBER 4TH 2021</p>
      https://www.leshivernales.be/
    </div>
    <li data-tabs-calendar-target="link" data-action="click->tabs-calendar#open" data-id="21-22" class="hidden">21/22</li>
    <div class="calendar-content hidden" data-tabs-calendar-target="tab" data-tabs-type-value="21-22" data-id="21-22">
      <h4>OPERA NATIONAL DE PARIS</h4>
      <p>NEW CREATION FOR INES MCINTOSH (Première Danseuse) & JACK GASZTOWTT (Premier Danseur)</p>

      <h4>FINNISH NATIONAL BALLET</h4>
      <p>NEW CREATION FOR VIOLETTA KELLER (Principal Dancer) & MARTIN NUDO (First Soloist)</p>

      <h4>« ONLY FOOLS RUSH IN »</h4>
      <p>NEW CREATION FOR TCUNAM COMPANY MEXCIO CITY</p>
      <p>WORLD PREMIERE  AUGUST 24TH 2022</p>

      <h4>« RUSH FOR FULL »</h4>
      <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
      <p>INTERNATIONAL BALLETT GALA  THEATER DORTMUND</p>
      https://www.theaterdo.de/produktionen/detail/internationale-ballettgala-xxxvii/

      <h4>WORSKSHOPS</h4>
      <p>EUROPA DANCE COMPANY BRUSSELS</p>

      <p>COMPANIA NACIONAL DE DANZA</p>
      <p>NEW CREATION FOR GIADA ROSSI (Principal Dancer) & ALESSANDRO RIGA ( Principal dancer)</p>

      <h4>« LOVE HURTS »</h4>
      <p>NEW CREATION FOR THE TANZKOMPANIE THEATER ST GALLEN (Direction. Kinsun Chan)</p>

      <h4>« AND IF THIS IS IT »</h4>
      <p>NEW CREATION FOR EVE-MARIE DALCOURT & TOON LOBACH (NDT Soloist)</p>
      <h4>OPERA NATIONAL DE PARIS</h4>
          <p>NEW CREATION FOR INES MCINTOSH (Première Danseuse) & JACK GASZTOWTT (Premier Danseur)</p>

          <h4>FINNISH NATIONAL BALLET</h4>
          <p>NEW CREATION FOR VIOLETTA KELLER (Principal Dancer) & MARTIN NUDO (First Soloist)</p>

          <h4>« ONLY FOOLS RUSH IN »</h4>
          <p>NEW CREATION FOR TCUNAM COMPANY MEXCIO CITY</p>
          <p>WORLD PREMIERE  AUGUST 24TH 2022</p>

          <h4>« RUSH FOR FULL »</h4>
          <p>MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
          <p>INTERNATIONAL BALLETT GALA  THEATER DORTMUND</p>
          https://www.theaterdo.de/produktionen/detail/internationale-ballettgala-xxxvii/

          <h4>WORSKSHOPS</h4>
          <p>EUROPA DANCE COMPANY BRUSSELS</p>

          <p>COMPANIA NACIONAL DE DANZA</p>
          <p>NEW CREATION FOR GIADA ROSSI (Principal Dancer) & ALESSANDRO RIGA ( Principal dancer)</p>

          <h4>« LOVE HURTS »</h4>
          <p>NEW CREATION FOR THE TANZKOMPANIE THEATER ST GALLEN (Direction. Kinsun Chan)</p>

          <h4>« AND IF THIS IS IT »</h4>
          <p>NEW CREATION FOR EVE-MARIE DALCOURT & TOON LOBACH (NDT Soloist)</p>
    </div>
    <li data-tabs-calendar-target="link" data-action="click->tabs-calendar#open" data-id="22-23">22/23</li>
    <div class="calendar-content hidden" data-tabs-calendar-target="tab" data-tabs-type-value="22-23" data-id="22-23">
      <h4>« AND IF THIS IS IT »</h4>
      <p>WORLD PREMIERE AT ROBERTO BOLLE & FRIENDS</p>
      <p>FEBRUARY 11TH 2023</p>
      https://robertobolle.com/rb-and-friends/
      https://www.juliannicosia.com/home

      <h4>« LOVE HURTS »</h4>
      <p>WORLD PREMIERE AT THEATER ST GALLEN</p>
      <p>MARCH 16TH 2023</p>

      <h4>« HOLD ON SKIN »</h4>
      <p>NEW CREATION FOR EUGENIA BREZZI (Soloist) & GIACOMO CASTELLAN (Soloist)</p>
      <p>TEATRO DELL’OPERA DI ROMA (Dir. Eleonora Abbagnato)</p>

      <h4>« AND IF THIS IS IT »</h4>
      <p>ORSOLINA 28 FILM RECORDING</p>

      <h4>« HOLD ON SKIN »</h4>
      <p>WORLD PREMIERE AT DAP FESTIVAL ITALY</p>
      <p>JULY 8TH 2023</p>
      https://www.dapfestival.com/

      <h4>SUMMER WORKSHOP</4>
      <p>AXIS DANZA ITALY</p>
      https://www.axisdanza.it/

      <h4>« LE GOUT DE DIEU »</h4>
      <p>NEW SOLO CREATION FOR JACOPO GIARDA (Soloist)</p>
      <p>FILM AND RECORDING AT VITRA MUSEUM</p>

      <h4>« FRAGMENTS OF TIME »</h4>
      <p>NEW CREATION FOR THE FINNISH NATIONAL BALLET YOUTH COMPANY (Dir. Javier Torres)</p>
    </div>
    <li data-tabs-calendar-target="link" data-action="click->tabs-calendar#open" data-id="23-24">23/24</li>
    <div class="calendar-content hidden" data-tabs-calendar-target="tab" data-tabs-type-value="23-24" data-id="23-24">

    </div> %>
    <li data-tabs-calendar-target="link" data-action="click->tabs-calendar#open" data-id="24-25">24/25</li>
    <div class="calendar-content hidden" data-tabs-calendar-target="tab" data-tabs-type-value="24-25" data-id="24-25">
      <div class="calendar-work">
        <h4>FINNISH NATIONAL BALLET YOUTH CIE</h4>
        <p>FRAGMENTS OF TIME / PROGRAM MOVING ON / WORLD PREMIERE APRIL 11TH 2024</p>
        <p>11.4.2024 - 14.4.2024</p>
      </div>
      <div class="calendar-work">
        <h4>BALLET STARS UNLEASHED GALA</h4>
        <p>RUSH FOR FULL / GALA / MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
        <p>25.4.2024</p>
      </div>
      <div class="calendar-work">
        <h4>EUROPA DANCE COMPANY BRUSSELS</h4>
        <p>FLASHES COME AROUND / WORLD PREMIERE JUNE 15TH 2024</p>
        <p>15.6.2024 - 16.6.2024</p>
      </div>
      <div class="calendar-work">
      <h4>ARLES YOUTH BALLET COMPANY</h4>
      <p>SUMMER WORKSHOP</p>
      </div>
      <div class="calendar-work">
        <h4>LYON DANCE STUDIO</h4>
        <p>SUMMER WORKSHOP</p>
      </div>
      <div class="calendar-work">
        <h4>ARLES YOUTH BALLET COMPANY</h4>
        <p>VEIL OF PERSPECTIVE / WORLD PREMIERE DECEMBER 13TH 2024</p>
        <p>13.12.2024 - 15.12.2024</p>
      </div>
      <div class="calendar-work">
        <h4>OSIEL GOUNEO & MARIA GONZALES</h4>
        <p>NEW CREATION / DAP FESTIVAL / WORLD PREMIERE 2025</p>
      </div>
      <div class="calendar-work">
        <h4>INNSBRUCK TIROLER LANDESTHEATER</h4>
        <p>CELESTIAL FRACTURES / PROGRAM RAUSH / WORLD PREMIERE MARCH 1ST APRIL 2024</p>
        <p>1.3.2025 - 19.3.2025</p>
      </div>
      <div class="calendar-work">
        <h4>FINNISH NATIONAL BALLET YOUTH CIE</h4>
        <p>FRAGMENTS OF TIME / LONDON</p>
      </div>
      <div class="calendar-work">
        <h4>OPÉRA NATIONAL DE PARIS JUNIOR COMPANY</h4>
        <p>WORKSHOP</p>
        <p>3.03.2025 - 7.03.2025</p>
      </div>
      <div class="calendar-work">
      <h4>SEMPEROPER DRESDEN</h4>
      <p>NEW CREATION / PROGRAM TAG TEAM / WORLD PREMIER APRIL 1ST 2024</p>
      </div>
      <div class="calendar-work">
        <h4>OPÉRA NATIONAL DE PARIS JUNIOR COMPANY</h4>
        <p>WORKSHOP</p>
        <p>14.04.2025 - 18.04.2025</p>
      </div>
      <div class="calendar-work">
        <h4>BALLETT DORTMUND</h4>
        <p>NEW CREATION / WORLD PREMIER JULY 5TH</p>
        <p>5.6.2025 - 6.6.2025</p>
      </div>
      <div class="calendar-work">
        <h4>ARLES YOUTH BALLET COMPANY</h4>
        <p>SUMMER WORKSHOP</p>
      </div>
      <div class="calendar-work">
        <h4>FINNISH NATIONAL BALLET</h4>
        <p>SUMMER WORKSHOP</p>
      </div>
      <div class="calendar-work">
        <h4>OPÉRA NATIONAL DE PARIS JUNIOR COMPANY</h4>
        <p>NEW CREATION / WOLRD PREMIERE 2025</p>
      </div>
      <div class="calendar-work">

      </div>
    </div>
  </ul>
</div>
