<div data-controller="get-back">
  <a href="javascript:void(0);" class="burger-menu-works " id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <%= image_tag 'logoWhite.png', class:"img-calendar"%>
  <div style="width:100%; height:100%" >
    <div class="calendar-container page backElement" data-controller="tabs-calendar" data-tabs-calendar-default-value="2024">
      <h1 class="backElement">SEASON 24/25</h1>
      <%# <ul class="backElement"> %>
        <%# <li data-tabs-calendar-target="link" data-action="click->tabs-calendar#open" data-id="24-25">SEASON 24/25</li> %>
        <%# <div class="calendar-content hidden" data-tabs-calendar-target="tab" data-tabs-type-value="24-25" data-id="24-25"> %>
        <div class="calendar-content" class="backElement">
          <div class="calendar-work backElement">
            <h4>FINNISH NATIONAL BALLET</h4>
            <p>SUMMER WORKSHOP</p>
          </div>
          <div class="calendar-work backElement">
            <h4>ARLES YOUTH BALLET COMPANY</h4>
            <p>SUMMER WORKSHOP</p>
          </div>
          <div class="calendar-work backElement">
            <h4>BALLETT DORTMUND</h4>
            <p>NEW CREATION / WORLD PREMIER JULY 5TH</p>
            <p>5.6.2025 - 6.6.2025</p>
          </div>
          <div class="calendar-work backElement">
            <h4>OPÉRA NATIONAL DE PARIS JUNIOR COMPANY</h4>
            <p>WORKSHOP</p>
            <p>14.04.2025 - 18.04.2025</p>
          </div>
          <div class="calendar-work backElement">
            <h4>SEMPEROPER DRESDEN</h4>
            <p>NEW CREATION / PROGRAM TAG TEAM / WORLD PREMIER APRIL 1ST 2024</p>
          </div>
          <div class="calendar-work backElement">
            <h4>OPÉRA NATIONAL DE PARIS JUNIOR COMPANY</h4>
            <p>WORKSHOP</p>
            <p>3.03.2025 - 7.03.2025</p>
          </div>
          <div class="calendar-work backElement">
            <h4>FINNISH NATIONAL BALLET YOUTH CIE</h4>
            <p>FRAGMENTS OF TIME / LONDON</p>
          </div>
          <div class="calendar-work backElement">
            <h4>INNSBRUCK TIROLER LANDESTHEATER</h4>
            <p>CELESTIAL FRACTURES / PROGRAM RAUSH / WORLD PREMIERE MARCH 1ST APRIL 2024</p>
            <p>1.3.2025 - 19.3.2025</p>
          </div>
          <div class="calendar-work backElement">
            <h4>OSIEL GOUNEO & MARIA GONZALES</h4>
            <p>NEW CREATION / DAP FESTIVAL / WORLD PREMIERE 2025</p>
          </div>
          <div class="calendar-work backElement">
            <h4>ARLES YOUTH BALLET COMPANY</h4>
            <p>VEIL OF PERSPECTIVE / WORLD PREMIERE DECEMBER 13TH 2024</p>
            <p>13.12.2024 - 15.12.2024</p>
          </div>
          <div class="calendar-work backElement">
            <h4>LYON DANCE STUDIO</h4>
            <p>SUMMER WORKSHOP</p>
          </div>
          <div class="calendar-work backElement">
            <h4>ARLES YOUTH BALLET COMPANY</h4>
            <p>SUMMER WORKSHOP</p>
          </div>
          <div class="calendar-work backElement">
            <h4>EUROPA DANCE COMPANY BRUSSELS</h4>
            <p>FLASHES COME AROUND / WORLD PREMIERE JUNE 15TH 2024</p>
            <p>15.6.2024 - 16.6.2024</p>
          </div>
          <div class="calendar-work backElement">
            <h4>BALLET STARS UNLEASHED GALA</h4>
            <p>RUSH FOR FULL / GALA / MARIA KOCHETKOVA & SEBASTIAN KLOBORG</p>
            <p>25.4.2024</p>
          </div>
          <div class="calendar-work backElement">
            <h4>FINNISH NATIONAL BALLET YOUTH CIE</h4>
            <p>FRAGMENTS OF TIME / PROGRAM MOVING ON / WORLD PREMIERE APRIL 11TH 2024</p>
            <p>11.4.2024 - 14.4.2024</p>
          </div>
        </div>
      <%# </ul> %>
    </div>
  </div>
</div>
