<div class="container-contact" data-controller="get-back">
  <%= image_tag 'logoWhite.png'%>
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <%# <h1>CON<br>TACT</h1> %>
  <div class="contact-content backElement">
    <%# <div class="img-container-contact"> %>
    <%# </div> %>
    <div class="contacts-container-contact">
      <a href="mailto:juliannicosia.contact@gmail.com">
        <h4>EMAIL</h4>
        JULIANNICOSIA.CONTACT@GMAIL.COM
      </a>
      <a href="https://www.instagram.com/juliannicosia/?hl=en">
        <h4>INSTAGRAM</h4>
        J U L I A N  N I C O S I A
      </a>
      <a href="https://www.facebook.com/julian.nicosia.1">
        <h4>FACEBOOK</h4>
        J U L I A N  N I C O S I A
      </a>
      <a href="https://www.albertnikolli.com">
        <h4>DIGITAL ARCHITECT</h4>
        A L B E R T N I K O L L I
      </a>
    </div>
  </div>
</div>
