<div class="container-contact">
  <a href="javascript:void(0);" class="burger-menu-works" id="burger-menu" data-controller="burger-menu">
    <div class="line top"></div>
    <div class="line middle"></div>
    <div class="line bottom"></div>
  </a>
  <h1>CONTACT</h1>
  <div class="contact-content">
    <div class="img-container-contact">
      <%= image_tag 'logoWhite.png' %>
    </div>
    <div class="contacts-container-contact">
      <h4>INSTAGRAM</h4>
      <a href="https://www.instagram.com/juliannicosia/?hl=en">J U L I A N N I C O S I A</a>
      <h4>FACEBOOK</h4>
      <a href="https://www.facebook.com/julian.nicosia.1">Julian Nicosia</a>
      <h4>LINKEDIN</h4>
      <a href="https://www.linkedin.com/in/julian-nicosia-21136716b/">Julian Nicosia</a>
      <h4>EMAIL</h4>
      <a href="mailto:juliannicosia.contact@gmail.com">juliannicosia.contact@gmail.com</a>
    </div>
  </div>
</div>
