<div class="content" style="overflow-y:scroll">
  <div style= "position: absolute; top: 720px; left: 250px;">
    <%= image_tag 'logoBlack.png', width: "100px" %>
  </div>
  <%# <header>"IF THIS IS IT"</header> %>
  <div class="container text">
    <h4>DESCRIPTION</h4>
    <p>
      "Love Hurts" delves into the intricate tapestry of human emotions, focusing on the paradoxical nature of love—a force both exhilarating and painful. This narrative contemplates the duality of love, where passion and pain coexist, challenging the idealized notion of love as an unending source of happiness. Through a series of interconnected stories, the exploration unfolds, revealing the complexities inherent in romantic relationships. It probes the depths of vulnerability, the fragility of intimacy, and the transformative power of love's trials and tribulations. The narrative invites readers to ponder the existential questions surrounding love: Can one truly experience love without confronting its inherent risks and vulnerabilities? Is the pain of love an inevitable part of its profound beauty? "Love Hurts" ultimately challenges us to embrace the complexities of love, acknowledging that its capacity to both uplift and wound us is what makes it a uniquely human experience, rich in its depth and paradoxical nature.
    </p>
  </div>
  <%# Iframe video %>
  <div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/860823670?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture; clipboard-write" style="position:absolute;top:0;left:0;width:100%;height:100%;" title="LOVE HURTS (full version)"></iframe>
  </div>
  <div class="container text">
    <h4>CHOREOGRAPHY</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>MUSIC</h4>
    <p>
      Julian Nicosia
    </p>
  </div>
  <div class="container text-sec">
    <h4>DANCERS</h4>
    <p>
      St Gallen Dance Company
    </p>
  </div>
  <div class="container text-sec">
    <h4>World Premiere</h4>
    <p>
      March 16th 2023
    </p>
  </div>
  <div class="container text-sec">
    <h4>DURATION</h4>
    <p>
      35 minutes
    </p>
  </div>
  <div class="container text-sec">
    <h4>PHOTOS</h4>
    <p>
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
      <img src="" alt="">
    </p>
  </div>
</div>
