<div class="work_text">
  <h1>"AND IF THIS IS IT"</h1>
  <p class="p1">Orsolina 28</p>
  <p class="p2">ART FOUNDATION</p>
  <a class="link" href="/and_if_this_is_it">More info <span class="material-symbols-outlined">arrow_right_alt</span></a>
  <%= image_tag('logoWhite.png')%>
</div>
