<div class="work_text_container">
          <div class="work_text" id="text-info-1-phone" data-controller="off-canvas">
            <h1 class="h1">"AND IF THIS IS IT"</h1>
            <%# <p class="p1">ROBERTO BOLLE & FRIENDS FESTIVAL</p>
            <p class="p2">World Premiere 25/04/2024</p> %>
            <a class="link"  href="javascript:void(0)" id="main-itii">More info
              <span style="margin-left: 20px;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 9"><path d="M28.71,3.79,25.21.29a1,1,0,0,0-1.42,1.42l1.8,1.79H1a1,1,0,0,0,0,2H25.59l-1.8,1.79a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l3.5-3.5A1,1,0,0,0,28.71,3.79Z"/></svg>
              </span>
            </a>
            <%# <%= image_tag('logoWhite.png') %>
          </div>
        </div>
