<%# This page is to test effects, results and view %>
<div data-controller="get-back">
  <div class="backElement">Swipe here to go back!</div>
  <div class="backElement">Swipe on this too!</div>
  <%= asset_url('cf3.jpg') %>
</div>
