.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-gap: 10px; */
  @media (max-width: 760px) {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  img {
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    // filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for scaling and color */
    position: relative;
    z-index: 0; /* Ensure all images start at the same level */

    &:hover {
      // filter: grayscale(0%);
      transform: scale(1.1);
      z-index: 1; /* Bring hovered image to the front */
    }
    @media (max-width: 760px) {
      // filter: grayscale(0%);

      &:hover {
        filter: none; /* Override grayscale removal on hover */
        transform: none; /* Disable scaling */
        z-index: 0; /* Reset z-index to default */
      }
    }
  }
  .column7 {
    @media (max-width: 760px) {
      display: none !important;
    }
  }
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;

}

.modal img {
  max-width: 90vw;
  max-height: 90vh;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-size: 30px;
  padding: 10px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
}

.prev { left: 10px; }
.next { right: 10px; }
