#main-itii, #main-lh, #main-fot, #main-d, #main-rff, #main-ut {
  transition: margin-left .5s;
}

.sidenav-if-this-is-it, .sidenav-love-hurts, .sidenav-fragments-of-time, .sidenav-le-gout-de-dieu, .sidenav-d, .sidenav-rush-for-full, .sidenav-only-fools-rush-in, .sidenav-unspoken-thoughts {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.2s  ease-in-out;
  overflow-x: hidden;
  font-family: "Futura", "Helvetica", "sans-serif";
  color: $black;
  padding: 40px 0px;

  @media (max-width: 760px) {
    padding-top: 50px;

  }

  .image-home {
    position: absolute;
    top: 770px;
    right: 250px;

    @media (max-width: 760px) {
      display: none; // to be seen later
    }
  }

  header {
    text-align: center;
    // padding-top: 40px;
    font-size: 1.6rem;
    color: $light-gray;
  }

  .text {
    padding: 0px 8px 8px 8px;
    text-align: justify;

    h1 {
      padding-top: 10px;
      font-size: 5rem;
      color: $light-gray;
    }

    h3 {
      padding-top: 10px;
      font-size: 4rem;
      color: $light-gray;
    }

    h4 {
      font-size: 1.1rem;
      color: $light-gray;
    }
    p {
      font-size: 0.8rem;
      color: $light-gray;
    }
  }

  .text-sec {
    padding: 2px 8px 8px 8px;
    text-align: justify;
    h4 {
      font-size: 1.1rem;
      color: $light-gray;
    }
    p {
      font-size: 0.8rem;
      color: $light-gray;
      margin-bottom: 5px;
    }

    .photo {
      margin-top: 10px;
      width: 45%;
      height: fit-content;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  a {
    // padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;


    &:hover {
    color: blue;
    border-bottom: 1.5px solid $red;
    }
  }

  #closebtn-itii, #closebtn-lh, #closebtn-fot, #closebtn-lgdd, #closebtn-d, #closebtn-rff, #closebtn-ofri, #closebtn-ut {
    text-align: center;
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 36px;
    z-index: 1100;
    color: $light-gray;
    cursor: pointer;
  }

  .image-flex-off-canvas {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media (max-width: 760px) {
      display: block; // to be seen later
      width: 100%;
      margin: auto;

    }
  }
}

// .sidenav-love-hurts {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 2000 !important;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.8);
//   transition: 0.2s  ease-in-out;
//   overflow-x: hidden;
//   font-family: "Futura", "Helvetica", "sans-serif";
//   color: $black;
//   padding-bottom: 60px;

//   header {
//     text-align: center;
//     // padding-top: 40px;
//     font-size: 1.6rem;
//     color: $light-gray;
//   }

//   .text {
//     padding: 20px 8px 8px 8px;
//     text-align: justify;

//     h1 {
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//       padding-top: 40px;
//       font-size: 3rem;
//       color: $light-gray;
//     }
//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }
//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//     }
//   }
//   .text-sec {
//     padding: 2px 8px 8px 8px;
//     text-align: justify;
//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }
//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//       margin-bottom: 5px;
//     }

//     .photo {
//       margin-top: 10px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }

//   a {
//     // padding: 20px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 1rem;


//     &:hover {
//     color: blue;
//     border-bottom: 1.5px solid $red;
//     }
//   }

//   #closebtn-lh {
//     text-align: center;
//     position: absolute;
//     top: 0px;
//     right: 15px;
//     font-size: 36px;
//     z-index: 1100;
//     color: $light-gray;
//     cursor: pointer;
//   }
// }

// .sidenav-fragments-of-time {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 2000 !important;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.8);
//   transition: 0.2s  ease-in-out;
//   overflow-x: hidden;
//   font-family: "Futura", "Helvetica", "sans-serif";
//   color: $black;
//   padding-bottom: 60px;

//   header {
//     text-align: center;
//     // padding-top: 40px;
//     font-size: 1.6rem;
//     color: $light-gray;
//   }

//   .text {
//     padding: 20px 8px 8px 8px;
//     text-align: justify;

//     h1 {
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//       padding-top: 40px;
//       font-size: 3rem;
//       color: $light-gray;
//     }
//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }
//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//     }
//   }
//   .text-sec {
//     padding: 2px 8px 8px 8px;
//     text-align: justify;

//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }

//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//       margin-bottom: 5px;
//     }

//     .photo {
//       margin-top: 10px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }

//   a {
//     // padding: 20px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 1rem;


//     &:hover {
//     color: blue;
//     border-bottom: 1.5px solid $red;
//     }
//   }

//   #closebtn-fot {
//     text-align: center;
//     position: absolute;
//     top: 0px;
//     right: 15px;
//     font-size: 36px;
//     z-index: 1100;
//     color: $light-gray;
//     cursor: pointer;
//   }
// }

// .sidenav-d {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 2000 !important;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.8);
//   transition: 0.2s  ease-in-out;
//   overflow-x: hidden;
//   font-family: "Futura", "Helvetica", "sans-serif";
//   color: $black;
//   padding-bottom: 60px;

//   header {
//     text-align: center;
//     // padding-top: 40px;
//     font-size: 1.6rem;
//     color: $light-gray;
//   }

//   .text {
//     padding: 20px 8px 8px 8px;
//     text-align: justify;

//     h1 {
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//       padding-top: 40px;
//       font-size: 3rem;
//       color: $light-gray;
//     }
//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }
//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//     }
//   }
//   .text-sec {
//     padding: 2px 8px 8px 8px;
//     text-align: justify;

//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }

//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//       margin-bottom: 5px;
//     }

//     .photo {
//       margin-top: 10px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }

//   a {
//     // padding: 20px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 1rem;


//     &:hover {
//     color: blue;
//     border-bottom: 1.5px solid $red;
//     }
//   }

//   #closebtn-d {
//     text-align: center;
//     position: absolute;
//     top: 0px;
//     right: 15px;
//     font-size: 36px;
//     z-index: 1100;
//     color: $light-gray;
//     cursor: pointer;
//   }
// }

// .sidenav-rush-for-full {
//   height: 100%;
//   width: 0;
//   position: fixed;
//   z-index: 2000 !important;
//   top: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, 0.8);
//   transition: 0.2s  ease-in-out;
//   overflow-x: hidden;
//   font-family: "Futura", "Helvetica", "sans-serif";
//   color: $black;
//   padding-bottom: 60px;

//   header {
//     text-align: center;
//     // padding-top: 40px;
//     font-size: 1.6rem;
//     color: $light-gray;
//   }

//   .text {
//     padding: 20px 8px 8px 8px;
//     text-align: justify;

//     h1 {
//       // display: flex;
//       // justify-content: center;
//       // align-items: center;
//       padding-top: 40px;
//       font-size: 3rem;
//       color: $light-gray;
//     }
//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }
//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//     }
//   }
//   .text-sec {
//     padding: 2px 8px 8px 8px;
//     text-align: justify;

//     h4 {
//       font-size: 1.1rem;
//       color: $light-gray;
//     }

//     p {
//       font-size: 0.8rem;
//       color: $light-gray;
//       margin-bottom: 5px;
//     }

//     .photo {
//       margin-top: 10px;
//       img {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }

//   a {
//     // padding: 20px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 1rem;


//     &:hover {
//     color: blue;
//     border-bottom: 1.5px solid $red;
//     }
//   }

//   #closebtn-r-f-f {
//     text-align: center;
//     position: absolute;
//     top: 0px;
//     right: 15px;
//     font-size: 36px;
//     z-index: 1100;
//     color: $light-gray;
//     cursor: pointer;
//   }
// }
