.sidenav-if-this-is-it, .sidenav-love-hurts, .sidenav-fragments-of-time, .sidenav-le-gout-de-dieu, .sidenav-d,
.sidenav-celestial-fractures, .sidenav-only-fools-rush-in, .sidenav-alessandro-giada, .sidenav-paris-opera, .sidenav-veil-of-perspective {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transition: 0.2s  ease-in-out;
  overflow-x: hidden;
  font-family: "Futura", "Helvetica", "sans-serif";
  color: $black;
  padding: 40px 0px;

  @media (max-width: 760px) {
    padding-top: 50px;
  }

  .image-home {
    position: absolute;
    top: 770px;
    right: 250px;
    width:100px;
    opacity:0.6;

    @media (max-width: 760px) {
      display: none;
    }
  }

  header {
    text-align: center;
    // padding-top: 40px;
    font-size: 1.6rem;
    color: $light-gray;
  }

  .text {
    padding: 0px 8px 8px 8px;
    text-align: justify;

    h1 {
      padding-top: 10px;
      font-size: 5rem;
      color: $light-gray;
      display: inline;
    }

    h3 {
      padding-top: 10px;
      font-size: 3.7rem;
      color: $light-gray;
    }

    h4 {
      font-size: 1.1rem;
      color: $light-gray;
    }
    p {
      font-size: 0.8rem;
      color: $light-gray;
    }
  }

  .text-sec {
    padding: 2px 8px 8px 8px;
    text-align: justify;
    h4 {
      font-size: 1.1rem;
      color: $light-gray;
    }
    p {
      font-size: 0.8rem;
      color: $light-gray;
      margin-bottom: 5px;
    }


    .photo {
      margin-top: 20px;
      width: 45%;
      height: fit-content;
      text-align: center;
      // margin: auto;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 10px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-singular {
      width: 100%;
      height: fit-content;
      margin: auto;
      margin-top: 20px;
      @media (max-width: 760px) {
        width: 100%;
        margin-top: 5px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .photo-singular-big {
      width: 45%;
      height: fit-content;
      margin: auto;
      margin-top: 20px;

      @media (max-width: 760px) {
        width: 100%;
        margin-top: 10px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  a {
    // padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 1rem;


    &:hover {
    color: blue;
    border-bottom: 1.5px solid $red;
    }
  }

  #closebtn-itii, #closebtn-lh, #closebtn-fot, #closebtn-lgdd,
  #closebtn-d, #closebtn-cf, #closebtn-ofri, #closebtn-ut, #closebtn-ag, #closebtn-po, #closebtn-vop {
    text-align: center;
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 36px;
    z-index: 1100;
    color: $light-gray;
    cursor: pointer;
  }

  .image-flex-off-canvas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 760px) {
      display: block;
      width: 100%;
      margin: auto;

    }
  }
}
