/* Plus button */
#plus-btn {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: inline-block;

  &:hover {
    .vertical, .horizontal {
      // background-color: $red;
      background-color: white;
    }
  }
}

#plus-btn .vertical {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 3px;
  background-color:  rgba(255, 255, 255, 0.75);
  transform: rotate(90deg);
  transition: all 0.2s ease-in-out;
  z-index: 10;

}

#plus-btn .horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 12px;
  height: 3px;
  background-color:   rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in-out;
  z-index: 10;

}

#plus-btn.turn .vertical {
  transform: rotate(0deg);
  width: 10px;
  height: 2px;
  z-index: 10;
}
