.work_text {
  color: #2C3651;
  display: inline-block;
  padding: 10px 20px;
  padding-left: 100px;
  // width: 100%;
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  bottom: 0%;
  transform: translateY(0%);
  text-align: left;
  cursor: pointer;

  .h1 {
    text-indent: 0;
    font-size: 8rem;
    margin: 0; /* Removes default margins */
    padding: 0; /* Ensures no unintended padding */
    font-weight: 900;
    // text-shadow: 1px 1px 1px #fff;
    text-shadow: 1px 1px 3px #000000;
    text-align: left; /* Ensures left alignment */
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

  }

  .h2 {
    font-size: 1.8rem;

    @media (max-width: 760px) {
      font-size: 1.4rem;
    }
  }

  .p1 {
    font-size: 1.6rem;
    margin-bottom: 0;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .p2 {
    margin-top: 0;
    font-size: 1.6rem;
    margin-bottom: 0;

    @media (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .link {
    font-size: 1.6rem;
    text-decoration: none;
    position: relative;
    color:#2C3651;
    transition: color 0.3s ease;
    display: inline-flex;
    text-shadow: 0.4px 0.4px 0.4px #000000;


    span > svg {
      width: 2rem;
      margin-left: -5px;
      fill:  #ceceff;
      text-shadow: 0.5px 0.5px 0.5px #fff;

    }
    /* Hover effect for text color */
    // &:hover {
    //     color: $red;
    //     span > svg {
    //       fill: $red;
    //     }
    // }

    /* Pseudo-element for the animated underline */
    // &::after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     width: 100%;
    //     height: 1px;
    //     background-color: $red;
    //     transform: scaleX(0); /* Start with no underline */
    //     transform-origin: left; /* Animation from left to right */
    //     transition: transform 0.3s ease; /* Smooth transition */
    // }

    // /* Hover effect for underline */
    // &:hover::after {
    //     transform: scaleX(1); /* Expand underline on hover */
    // }

    // @media (max-width: 760px) {
    //   font-size: 1rem;
    // }
  }

  img {
      width: 25px;
      position: absolute;
      bottom: 0px;
      right: 60px;
  }
}

.work_text_phone {
  color: #2C3651;
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;

  .h1 {
    font-size: 6rem;
    margin: 0; /* Remove default margins */
    padding: 0; /* No padding */
    font-weight: 900;
    text-shadow: 1px 1px 1px #000000;
    text-align: left;
  }

  .h4 {
    font-size: 4rem;
    margin: 0; /* Remove default margins */
    padding: 0; /* No padding */
    font-weight: 900;
    text-shadow: 1px 1px 1px #000000;
    text-align: left;
  }

  .p1 {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .p2 {
    margin-top: 0;
    font-size: 1rem;
    margin-bottom: 0;
  }

  .link {
    font-size: 1rem;
    text-decoration: none;
    // color:  rgb(13, 110, 253);
    color: #2C3651;
    transition: color 0.3s ease;
    display: inline-flex;
    text-shadow: 0.25px 0.25px 0.25px #000000;


    span > svg {
      width: 1.6rem;
      margin-left: -10px;
      fill:  #2C3651;

    }
  }

  img {
      width: 25px;
      position: absolute;
      bottom: 0px;
      right: 60px;
  }
}

#main-itii {
  color: #2C3651;
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform:translate(-75%,-48%);
  transform:translate(-100%,-48%);
  text-align: left;

}

#main-lh {
  color: #ceceff;
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-78%,-48%);
  text-align: left;
}

#main-fot {
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform:translate(-54%,-48%);
  transform:translate(-74%,-48%);
  text-align: left;
}

#main-d{
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform:translate(-60%,-75%);
  transform:translate(-87%,-48%);
  text-align: left;
}

#main-r-f-f {
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-65%,-62%);
  transform:translate(-88%,-48%);
  text-align: left;
}

#main-ofri {
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-55%,-48%);
  transform:translate(-75%,-48%);
  text-align: left;
}

#main-po {
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-57%,-48%);
  // transform: translate(-67%,-46%);
  text-align: left;
}

#main-vop {
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-57%,-48%);
  text-align: left;
}

#main-lgdd {
  display: block;
  padding: 10px 30px; /* Keep general padding */
  font-family: "Roboto Mono", sans-serif !important;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-85%,-48%);
  text-align: left;
}
